# --- RUST ---
/malware_agent/target/
/malware_agent/Cargo.lock
**/*.rs.bk

# --- PYTHON ---
/c2_server/__pycache__/
/c2_server/*.py[cod]
/c2_server/venv/
/c2_server/.env
/c2_server/.venv


# -- NOde
DbD-Site/package-lock.json
DbD-Site/node_modules

.DS_Store
Thumbs.db

# --- Demo Artefakte ---
# Ignoriere Schlüssel und verschlüsselte Dateien
# versehentlich verschlüsselte Testdaten nicht auf GitHub hochlädst.
*.key
*.locked
*.enc_temp


# -- Latex erzeugte Dokumente
presentation/presentation.aux
presentation/presentation.log
presentation/presentation.nav
presentation/presentation.out
presentation/presentation.snm
presentation/presentation.toc
presentation/presentation.vrb
presentation/presentation.fls
presentation/presentation.fdb_latexmk
presentation/presentation.synctex.gz
